@import '../../../main.module.scss';

.crew{
    &Container{
        @apply px-40;

        

        header{
            @apply py-20;

            .heading-5{
                span{
                    font-weight: 700;
                    color: #fff;
                    opacity: 0.25;
                    padding-inline: 1rem
                }
            }
        }
    }

    &Contant{
        @apply flex flex-row justify-between pt-20;

        .heading-5{
            span{
                font-weight: 700;
                color: #fff;
                opacity: 0.25;
                padding-right: 1rem;
            }
        }

        .heading-4{
            opacity: 0.5042;
        }

        .body-text{
            width: 70%;
        }

        & > div{
            width: 45%;
        }
    }

    &Tabs{
        @apply flex flex-col justify-between;

        &Dots{
            @apply flex flex-row gap-8 -translate-y-20;

            span{
                height: 15px;
                width: 15px;
                border-radius: 100%;
                background-color: #fff;
                opacity: 0.174363;
                display: block;

                &:hover{
                    opacity: 0.5;
                }

                &.active{
                    opacity: 1;
                }
            }
        }
    }
}