@import '../../../main.module.scss';

.tech{
    &Container{
        @apply ps-40;

        .heading-5{
            @apply pt-20;

            span{
                font-weight: 700;
                color: #fff;
                opacity: 0.25;
                padding-inline: 1rem
            }
        }
    }

    &Contant{
        @apply flex flex-row justify-between;

        .heading-5{
            span{
                font-weight: 700;
                color: #fff;
                opacity: 0.25;
                padding-right: 1rem;
            }
        }

        .body-text{
            width: 60%;
        }

        & > div:first-child{
            width: 60%;
        }
    }

    &Tabs{
        @apply flex flex-row-reverse justify-between gap-20;

        &Description{
            @apply flex flex-col justify-center;

            .nav-text{
                @apply text-purple;
            }
        }

        &Dots{
            @apply flex flex-col justify-center gap-8;

            span{
                @extend .heading-4;

                height: 80px;
                width: 80px;
                border-radius: 100%;
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.25);
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover{
                    border-color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}

.active{
    background-color: #fff;
    color: #0B0D17;
}