@import '../../../main.module.scss';

.home{
    &Container{
        @apply flex flex-row px-40 pt-60;
    }

    &Promo{
        width: 60%;

        .body-text{
            width: 60%;
            max-width: 100%;
        }
    }
}

.exploreBtn{
    @extend .heading-4;
    @apply bg-light text-dark w-[275px] h-[275px] flex justify-center;

    transform: translate(70%, 50%);
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 100%;
    z-index: 1;
    transition: box-shadow 0.3s ease;

    &:hover{
        box-shadow: 0px 0px 0px 75px rgba(255, 255, 255, 0.1036);
    }
}