.mainContainer{
    @apply container min-w-full min-h-full flex flex-col;

    background-image: url('../../../assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.header{
    @apply container min-w-full flex flex-row justify-between tablet:pt-10;
}

.logo{
    @apply ps-14 flex justify-center flex-col;
}

@media (max-width: 768px) {
    .mainContainer{
        background-image: url('../../../assets/home/background-home-tablet.jpg');
    }
}

@media (max-width: 425px) {
    .mainContainer{
        background-image: url('../../../assets/home/background-home-mobile.jpg');
    }
}