@import '../../../main.scss';

.nav{
    @apply container h-full tablet:w-2/3 desktop:min-w-[53%] desktop:before:block;
    
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    position: relative;

    &::before{
        content: '';
        width: 72%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2515);
        position: absolute;
        top: 50%;
        transform: translateX(-92%);
    }
}

.navList{
    @apply flex w-full px-28;
}

.navItem{
    @apply flex gap-2 align-text-top py-9 px-5 text-h14;
    @extend .nav-text;

    cursor: pointer;
    position: relative;

    span{
        font-weight: bold;
    }

    &::after{
        content: '';
        background-color: #fff;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: -1px;
        right: 0;
        opacity: 0;
        scale: 0;
        transition: all 0.3s ease;
    }

    &:hover{
       &::after{
        scale: 1;
        opacity: 0.5021;
       }
    }

    &Active{
        @apply flex gap-2 align-text-top py-9 px-5;
        @extend .nav-text;
    
        cursor: pointer;
        position: relative;

        span{
            font-weight: bold;
        }
    
        &::after{
            content: '';
            background-color: #fff;
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: -1px;
            right: 0;
            opacity: 0;
            scale: 0;
            transition: all 0.3s ease;
        }

        &::after{
            scale: 1;
            opacity: 1;
        }
    }
}