@import '../../../main.module.scss';

.nav{
    @apply container h-full min-w-[53%] w-fit;
    
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}

.navList{
    @apply flex w-full px-28;
}

.navItem{
    @apply flex gap-2 align-text-top py-9 px-5;
    @extend .nav-text;

    cursor: pointer;
    position: relative;

    span{
        font-weight: bold;
    }

    &::after{
        content: '';
        background-color: #fff;
        width: 0%;
        height: 3px;
        position: absolute;
        bottom: -1px;
        right: 50%;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &::before{
        content: '';
        background-color: #fff;
        width: 0%;
        height: 3px;
        position: absolute;
        bottom: -1px;
        left: 50%;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &:hover{
       &::after{
        width: 50%;
        right: 0;
        opacity: 0.5021;
       }
       
       &::before{
        width: 50%;
        left: 0;
        opacity: 0.5021;
       } 
    }

    &.active{
        &::after{
            width: 50%;
            right: 0;
            opacity: 1;
        }
        &::before{
            width: 50%;
            left: 0;
            opacity: 1;
        }
     }
}